*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(233, 47%, 7%);
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
.container{
  display: flex;
  justify-content: center;
  width: 950px;
  overflow: hidden;
  border-radius: 6px;
}
@media(max-width: 767px){
  .container{
    flex-direction: column;
    width: 90%;
    margin: 30px 0;
  }
}
.container .text{
  padding: 50px;
  background-color: hsl(244, 38%, 16%);
  color: white;
}
@media(max-width: 767px){
  .container .text{
    order: 2;
    text-align: center;
  }
}
.container .text h1{
  font-size: 35px;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  width: 90%;
}
.container .text h1 span{
  color: hsl(277, 64%, 61%);
}
.container .text .describtion{
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsla(0, 0%, 100%, 0.75);
  width: 85%;
  line-height: 1.4;
}
@media(max-width: 767px){
  .container .text h1{
    width: 100%;
    font-size: 32px;
  }
  .container .text .describtion{
    width: 100%;
  }
}
.container .text .foot{
  display: flex;
  gap: 70px;
  align-items: center;
  margin-top: 50px;
}
@media(max-width: 767px){
  .container .text .foot{
    flex-direction: column;
    text-align: center;
  }
}
.container .text .foot h4{
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.container .text .foot p{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  text-transform: uppercase;
}
@media(max-width: 767px){
  .container .text .foot .stat{
    margin-bottom: 20px;
  }
}
.container .image{
  width: 100%;
  position: relative;
  display: flex;
}
.container .image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277deg 100% 31% / 60%);
}
.container .image img{
  max-width: 100%;
  width: 100%;
  height: 100%;
}